h1 {
  background-color: #333446;
  padding: 5px;
  color: #b8cfce;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight:  465;
}
.section-heading {
  background-color: #333446;
  padding: 5px;
  color: #b8cfce;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.work {
  font-size: 1em;
}
